{% extends 'base.html.twig' %}

{% block content %}
    <div class="homepage-hero">
        <div class="homepage-hero__background-overlay">
        </div>
        <div class="homepage-hero__content">
            <div class="homepage-hero__logo">

            </div>
            <div class="homepage-hero__title">
                ThreadLabs
            </div>
            <div class="homepage-hero__tagline">
                {#some other text#}
            </div>
            {#<a href="#" class="homepage-hero__logo">#}
                {#Contact#}
            {#</a>#}
        </div>
    </div>
{% endblock %}